.wrapper {
  padding: 20px;
  border-radius: 12px;
  width: 30vw;
  min-height: 80vh;
  background: var(--white);
}

.title {
  color: var(--black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.message {
  text-align: center;
  background: var(--light-blue);
  padding: 10px;
  border: 1px solid var(--light-blue-border);
  border-radius: 4px;
  margin-top: 20px;
}